/published/SETTINGS.md
/.DS_Store
/to-publish/
__pycache__/
*.pyc

/scripts/utils/__pycache__/utils.cpython-310.pyc
/scripts/utils/__pycache__/utils.cpython-310.pyc
/scripts/utils/__pycache__/utils.cpython-310.pyc
/site.tar.gz
/public/.DS_Store
