{% extends "base.html" %}

{% block page %}

<h1>
  {{ meta.title }}
  <small>
    <span class="date">{{ meta.date.strftime('%B %-d, %Y') }}</span>
    on
    <span class="site"><a href="/">Sepi's blog</a></span>
  </small>
</h1>

<small>
  {% for tag in meta.tags %}
  <a class="tag" href="/tag-{{tag}}.html"> {{tag}} </a>
  {% endfor %}
</small>

<main>
  <article>
    {{content | safe}}

    <div>
      <reply>
	if you have any comments click on
	<a href="mailto:me@sepi.me?subject=responding to '{{ meta.title }}'"> this link </a>
	to send me an email with your comments!
      </reply>
    </div>

    <footer>
      <item> <a href="/">home</a> </item>
      <item> © sepehr aryani</item>
      <item> <a href="mailto:me@sepi.me"> me@sepi.me</a> </item>
    </footer>

  </article>
</main>

{% endblock page %}
