{% extends "base.html" %}

{% block page %}

<main class="index">

  <section class="article-list">
    <h1>Sepi's blog</h1>

    {% for post in posts | reverse %}
    <div class="article">
      <span class="date">{{post.meta.date.strftime('%B %-d, %Y')}}</span>
      <a href="/post-{{post.idx}}.html">{{post.meta.title}}</a>
    </div>
    {% endfor %}
  </section>

  <aside>
    <img src="static/image/avatar-small.jpeg" alt="my avatar" height="100">

    <div class="text-center">
      <a class="feed" href="/feed.atom">atom</a>
      <a class="feed" href="/feed.rss">rss</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:me@sepi.me">me@sepi.me</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/sepisoad">@sepisoad</a></dd>
      <dt>twitter/x</dt>
      <dd><a href="https://x.com/@sepisoad">@sepisoad</a></dd>
    </dl>

    <small>
      <p>Hello, My name is Sepehr ﴾سپهر﴿, but I go by "<strong>Sepi</strong>". I'm a full-stack
        software engineer living
        in Copenhagen, Denmark. I've been programming since I was a teenager, and I started my
        career professionally in 2010.
      </p>
    </small>
  </aside>

</main>

{% endblock page %}
