{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-4">

  <div class="row">
    <div class="col">
      <h1>﴾SEPI﴿</h1>
    </div>  
  </div>

  <div class="row">
    <div class="col">
      <a class="" href="/"> Home </a>
      .
      <a class="" href="https://x.com/sepisoad"> Twitter </a>
      .
      <a class="" href="https://github.com/sepisoad"> Github </a>
      .
      <a class="" href="https://sr.ht/~sepisoad"> SourceHut </a>
    </div>
  </div>

  <div class="row text-start mt-4">
    <div class="col">    
      {% for post in section.pages %}
      <div class="row ">
        <div class="col">
          <span> 𐩔 <a href="{{ post.permalink }}">{{ post.title }}</a> </span>
        </div>
      </div>      
      {% endfor %}
    </div>  
  </div>

</div>
{% endblock content %}
