{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-4">

  <div class="row">
    <div class="col">
      <h1>﴾SEPI﴿</h1>
    </div>  
  </div>

  <div class="row">
    <div class="col">
      <a class="" href="/"> Home </a>
      .
      <a class="" href="https://x.com/sepisoad"> Twitter </a>
      .
      <a class="" href="https://github.com/sepisoad"> Github </a>
      .
      <a class="" href="https://sr.ht/~sepisoad"> SourceHut </a>
    </div>
  </div>

  <h2 class="post-title mt-4"> {{ page.title | markdown(inline=true) }} </h2>

  <div class="text-start card">
    <div class="card-body">
      <span> written by <span class="badge bg-info-subtle text-dark fw-lighter"> sepi </span>, published at <span class="badge bg-success-subtle text-dark fw-lighter"> {{ page.date }} </span> </span>
      <br>
      <span> 
        tags: 
        {% for tag in page.taxonomies.tags %} 
          <span class="badge bg-warning-subtle text-dark text-uppercase fw-lighter">{{tag}}</span>
          
        {% endfor %} 
      </span>
    </div>
  </div>

  <div class="row text-start">
    <div class="col">
      <p>
      {{ page.content | safe }}
      </p>
    </div>
  </div>

</div>

{% endblock content %}
